/* .main_container {
  padding: 0px 20px;
} */

/* .dashboard {
  
   margin-top: 10px;
    margin-bottom: 30px;
} */
.button_div {
    width: "100%";
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
  }
  
  .action_div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .button_mar20 {
    margin-left: 20px;
  }
  .table_content_config_data {
    width: "100%";
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .span {
    margin-right: 20px;
    cursor: pointer;
  }
  .active {
    text-decoration: underline;
    text-decoration-color: #2ecc71;
    text-decoration-thickness: 3px;
    font-weight: bold;
  }
  .pagi_div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: "100%";
    margin-top: 20px;
  }
  .container {
    display: flex;
    list-style: none;
    width: "100%";
    justify-content: center;
    align-items: center;
  }
  
  .page {
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    margin-right: 10px;
    /* cursor: pointer; */
  }
  
  .disabled {
    cursor: not-allowed;
  }
  
  .active_p {
    border: 2px solid #000;
    font-weight: bold;
  }
  
  .previous {
    padding: 10px;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .break {
    padding: 10px;
  }
  
  .next {
    padding: 10px;
    border-radius: 6px;
    margin-right: 10px;
    margin-left: 5px;
    cursor: pointer;
  }
  .list_class {
    padding: 0px 5px;
    /* border: 1px solid red; */
    border-radius: 6px;
    /* margin-right: 10px; */
  
    text-decoration: none;
    cursor: pointer;
  }
  .heading_div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    padding: 0px 20px;
  }
  
  .unorder {
    /* border:2px solid red; */
    display: flex;
    justify-content: flex-start;
    /* align-items:c; */
    flex-direction: column;
    display: none;
    margin-top: 10px;
  }
  .listItem {
    list-style: none;
    cursor: pointer;
    display: block;
  }
  /* .listItem:hover {
    background: #eee;
    font-weight: bold;
  } */
  .active_tab {
    display: block;
  }
  .arrowDown {
    width: 10px;
    height: 10px;
    cursor: pointer;
  }
  .active_rotate {
    transform: rotate(180deg);
  }
  .logout_main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  /* .username {
    margin-right: 40px;
  } */
  
  .table_body{
    border: 1px solid #000;
  }